In [2]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import FunctionTransformer

In [3]:
raw_data = {
    'YEAR': [2020, 2021, 2022],
    'MONTH': [1, 6, 12],
    'DAY': [15, 25, 31]
}

In [4]:
df = pd.DataFrame(raw_data)
df.head()

   YEAR  MONTH  DAY
0  2020      1   15
1  2021      6   25
2  2022     12   31

In [5]:
df

   YEAR  MONTH  DAY
0  2020      1   15
1  2021      6   25
2  2022     12   31

In [6]:
def date_col(data):
    data['DATE'] = pd.to_datetime(data[['YEAR', 'MONTH', 'DAY']])
    data = data.drop(columns = ['YEAR', 'MONTH', 'DAY']) # If you forgot columns = , KeyError: "['YEAR', 'MONTH', 'DAY'] not found in axis"
    return data


date_pipeline = Pipeline([
    ('create_date', FunctionTransformer(date_col, validate=False))
])

In [7]:
df_transformed = date_pipeline.fit_transform(df)
df_transformed.head()

        DATE
0 2020-01-15
1 2021-06-25
2 2022-12-31